# Ignore VS Code specific settings
.vscode/
.vs/

# Ignore npm and yarn package directories and lock files
node_modules/
package-lock.json
yarn.lock

# Ignore build artifacts
build/
dist/
obj/
Properties/
*.min.*

# Ignore temporary files
*.tmp
*.log